{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Endpoints{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('endpoint_manager.upload') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for endpoint in endpoints %}
    <article class="endpoint">
      <header>
        <div>
          <h1>
            {% if endpoint['status'] == "Active" %}
              <span style="height: 12px; width: 12px; background-color: #06c91d; border-radius: 50%; display: inline-block;" class="dot"></span>
            {% else %}
              <span style="height: 12px; width: 12px; background-color: #bbb; border-radius: 50%; display: inline-block;" class="dot"></span>
            {% endif %}
            <a href="{{ endpoint['endpoint_base'] }}">{{ endpoint['endpoint_base'] }}</a> ({{ endpoint['access'] }})</h1>
          <div class="about">by {{ endpoint['username'] }} on {{ endpoint['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == endpoint['author_id'] %}
          <a class="action" href="{{ url_for('endpoint_manager.update', id=endpoint['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ endpoint['data'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}