{% extends 'base.html' %}

{% block header %}
  <h1 class='header'>{% block title %}Edit "{{ endpoint['name'] }}"{% endblock %}</h1>
  <p class='header'>Manage endpoint settings. Check out the <a href="">documentation</a> page for more information.</p>
{% endblock %}

{% block content %}
<article class="page">
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or endpoint['name'] }}" required>

    <label for="data">Data</label>
    <textarea name="data" id="data">{{ request.form['data'] or endpoint['data'] }}</textarea>

    <label for="data_type">Datatype validation</label>
    <select name="data_type" id="data_type" required>
    <label for="data_type">JSON validation</label>
      {% if endpoint['valid_json'] == 1 %}
      <option value="0">none</option>
      <option value="1" selected>json</option>
      {% else %}
      <option value="0" selected>none</option>
      <option value="1">json</option>
      {% endif %}
    </select>

    <label for="availability">Set privacy level</label>
    <select name="availability" id="availability" required>
      <option value="{{ request.form['availability'] or endpoint['availability'] }}" selected hidden>{{ endpoint['availability'] }}</option>
      <option value="Public">Public</option>
      <option value="Private">Private</option>
    </select>

    <label for="status">Set status</label>
    <select name="status" id="status" required>
      <option value="{{ request.form['status'] or endpoint['status'] }}" selected hidden>{{ endpoint['status'] }}</option>
      <option value="Active">Active</option>
      <option value="Inactive">Inactive</option>
    </select>

    <label for="daily_rate_limit"></label>
    <input type='hidden' type="number" name="daily_rate_limit" id="daily_rate_limit" min="0" step="1" value="200">

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('endpoint_manager.delete', id=endpoint['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
</article>
{% endblock %}