{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Endpoint name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="data">Data</label>
    <textarea name="data" id="data">{{ request.form['data'] }}</textarea>
     <!--input type = "file" name = "file" /-->
    <label for="access">Make public or private endpoint?</label>
    <select name="access" id="access" required>
      <option value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
    <label for="status">Set status</label>
    <select name="status" id="status" required>
      <option value="Active">Active</option>
      <option value="Inactive">Inactive</option>
    </select>
    <input type="submit" value="Save">
  </form>
{% endblock %}